<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PointSettlementOrder" >
  <resultMap id="BaseResultMap" type="cn.creditease.pay.settlement.core.entity.PointSettlementOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="settlement_no" property="settlementNo" jdbcType="VARCHAR" />
    <result column="settlement_type" property="settlementType" jdbcType="TINYINT" />
    <result column="settlement_orders" property="settlementOrders" jdbcType="INTEGER" />
    <result column="settlement_points" property="settlementPoints" jdbcType="INTEGER" />
    <result column="settlement_amount" property="settlementAmount" jdbcType="DECIMAL" />
    <result column="release_orders" property="releaseOrders" jdbcType="INTEGER" />
    <result column="release_points" property="releasePoints" jdbcType="INTEGER" />
    <result column="recycle_orders" property="recycleOrders" jdbcType="INTEGER" />
    <result column="recycle_points" property="recyclePoints" jdbcType="INTEGER" />
    <result column="settlement_begin_date" property="settlementBeginDate" jdbcType="TIMESTAMP" />
    <result column="settlement_end_date" property="settlementEndDate" jdbcType="TIMESTAMP" />
    <result column="cur_id" property="curId" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="TINYINT" />
    <result column="point_status" property="pointStatus" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="err_code" property="errCode" jdbcType="VARCHAR" />
    <result column="err_msg" property="errMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_code, merchant_name, settlement_no, settlement_type, settlement_orders, 
    settlement_points, settlement_amount, release_orders, release_points, recycle_orders, 
    recycle_points, settlement_begin_date, settlement_end_date, cur_id, trade_status, point_status, status,
    err_code, err_msg, create_time, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from point_settlement_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryOrder" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from point_settlement_order
    where merchant_code = #{merchantCode}
    and settlement_begin_date = #{settlementBeginDate}
    and settlement_end_date = #{settlementEndDate}
  </select>
  <select id="queryOrderBySettlementNo" resultMap="BaseResultMap" parameterType="Map" >
    select 
    <include refid="Base_Column_List" />
    from point_settlement_order
    where settlement_no = #{settlementNo}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from point_settlement_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.creditease.pay.settlement.core.entity.PointSettlementOrder" >
    insert into point_settlement_order (id, merchant_code, merchant_name, 
      settlement_no, settlement_type, settlement_orders, 
      settlement_points, settlement_amount, release_orders, 
      release_points, recycle_orders, recycle_points, 
      settlement_begin_date, settlement_end_date, 
      cur_id, trade_status, point_status, status, err_code, err_msg, 
      create_time, update_time, remark
      )
    values (#{id,jdbcType=BIGINT}, #{merchantCode,jdbcType=VARCHAR}, #{merchantName,jdbcType=VARCHAR}, 
      #{settlementNo,jdbcType=VARCHAR}, #{settlementType,jdbcType=TINYINT}, #{settlementOrders,jdbcType=INTEGER}, 
      #{settlementPoints,jdbcType=INTEGER}, #{settlementAmount,jdbcType=DECIMAL}, #{releaseOrders,jdbcType=INTEGER}, 
      #{releasePoints,jdbcType=INTEGER}, #{recycleOrders,jdbcType=INTEGER}, #{recyclePoints,jdbcType=INTEGER}, 
      #{settlementBeginDate,jdbcType=TIMESTAMP}, #{settlementEndDate,jdbcType=TIMESTAMP}, 
      #{curId,jdbcType=VARCHAR}, #{tradeStatus,jdbcType=TINYINT}, #{pointStatus,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{errCode,jdbcType=VARCHAR}, 
      #{errMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.creditease.pay.settlement.core.entity.PointSettlementOrder" >
    insert into point_settlement_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="settlementNo != null" >
        settlement_no,
      </if>
      <if test="settlementType != null" >
        settlement_type,
      </if>
      <if test="settlementOrders != null" >
        settlement_orders,
      </if>
      <if test="settlementPoints != null" >
        settlement_points,
      </if>
      <if test="settlementAmount != null" >
        settlement_amount,
      </if>
      <if test="releaseOrders != null" >
        release_orders,
      </if>
      <if test="releasePoints != null" >
        release_points,
      </if>
      <if test="recycleOrders != null" >
        recycle_orders,
      </if>
      <if test="recyclePoints != null" >
        recycle_points,
      </if>
      <if test="settlementBeginDate != null" >
        settlement_begin_date,
      </if>
      <if test="settlementEndDate != null" >
        settlement_end_date,
      </if>
      <if test="curId != null" >
        cur_id,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="pointStatus != null" >
        point_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="errCode != null" >
        err_code,
      </if>
      <if test="errMsg != null" >
        err_msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="settlementNo != null" >
        #{settlementNo,jdbcType=VARCHAR},
      </if>
      <if test="settlementType != null" >
        #{settlementType,jdbcType=TINYINT},
      </if>
      <if test="settlementOrders != null" >
        #{settlementOrders,jdbcType=INTEGER},
      </if>
      <if test="settlementPoints != null" >
        #{settlementPoints,jdbcType=INTEGER},
      </if>
      <if test="settlementAmount != null" >
        #{settlementAmount,jdbcType=DECIMAL},
      </if>
      <if test="releaseOrders != null" >
        #{releaseOrders,jdbcType=INTEGER},
      </if>
      <if test="releasePoints != null" >
        #{releasePoints,jdbcType=INTEGER},
      </if>
      <if test="recycleOrders != null" >
        #{recycleOrders,jdbcType=INTEGER},
      </if>
      <if test="recyclePoints != null" >
        #{recyclePoints,jdbcType=INTEGER},
      </if>
      <if test="settlementBeginDate != null" >
        #{settlementBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementEndDate != null" >
        #{settlementEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="curId != null" >
        #{curId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=TINYINT},
      </if>
      <if test="pointStatus != null" >
        #{pointStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="errCode != null" >
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null" >
        #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.creditease.pay.settlement.core.entity.PointSettlementOrder" >
    update point_settlement_order
    <set >
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="settlementNo != null" >
        settlement_no = #{settlementNo,jdbcType=VARCHAR},
      </if>
      <if test="settlementType != null" >
        settlement_type = #{settlementType,jdbcType=TINYINT},
      </if>
      <if test="settlementOrders != null" >
        settlement_orders = #{settlementOrders,jdbcType=INTEGER},
      </if>
      <if test="settlementPoints != null" >
        settlement_points = #{settlementPoints,jdbcType=INTEGER},
      </if>
      <if test="settlementAmount != null" >
        settlement_amount = #{settlementAmount,jdbcType=DECIMAL},
      </if>
      <if test="releaseOrders != null" >
        release_orders = #{releaseOrders,jdbcType=INTEGER},
      </if>
      <if test="releasePoints != null" >
        release_points = #{releasePoints,jdbcType=INTEGER},
      </if>
      <if test="recycleOrders != null" >
        recycle_orders = #{recycleOrders,jdbcType=INTEGER},
      </if>
      <if test="recyclePoints != null" >
        recycle_points = #{recyclePoints,jdbcType=INTEGER},
      </if>
      <if test="settlementBeginDate != null" >
        settlement_begin_date = #{settlementBeginDate,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementEndDate != null" >
        settlement_end_date = #{settlementEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="curId != null" >
        cur_id = #{curId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=TINYINT},
      </if>
      <if test="pointStatus != null" >
        point_status = #{pointStatus,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="errCode != null" >
        err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errMsg != null" >
        err_msg = #{errMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByTradeFailue" parameterType="Map" >
    update point_settlement_order
    <set >
        status = #{status,jdbcType=TINYINT},
        err_code = #{errCode,jdbcType=VARCHAR},
        err_msg = #{errMsg,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByTradeSuccess" parameterType="Map" >
    update point_settlement_order
    <set >
        point_status = #{pointStatus,jdbcType=TINYINT},
        status = #{status,jdbcType=TINYINT},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_msg = #{errMsg,jdbcType=VARCHAR},
    </set>
    where id = #{id,jdbcType=BIGINT} and status != 2
  </update>
  
  <update id="updateByPointFailue" parameterType="Map" >
    update point_settlement_order
    <set >
        point_status = #{pointStatus,jdbcType=TINYINT},
        err_code = #{errCode,jdbcType=VARCHAR},
        err_msg = #{errMsg,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
    </set>
    where id = #{id,jdbcType=BIGINT} and point_status != 2
  </update>
  
  <update id="updateByPointSuccess" parameterType="Map" >
    update point_settlement_order
    <set >
        point_status = #{pointStatus,jdbcType=TINYINT},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_msg = #{errMsg,jdbcType=VARCHAR},
    </set>
    where id = #{id,jdbcType=BIGINT} and point_status != 2
  </update>
  
  <update id="updateByInitializtion" parameterType="Map" >
    update point_settlement_order
    <set >
        settlement_orders = #{settlementOrders,jdbcType=INTEGER},
      settlement_points = #{settlementPoints,jdbcType=INTEGER},
      settlement_amount = #{settlementAmount,jdbcType=DECIMAL},
      release_orders = #{releaseOrders,jdbcType=INTEGER},
      release_points = #{releasePoints,jdbcType=INTEGER},
      recycle_orders = #{recycleOrders,jdbcType=INTEGER},
      recycle_points = #{recyclePoints,jdbcType=INTEGER},
      trade_status = #{tradeStatus,jdbcType=TINYINT},
      point_status = #{pointStatus,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_msg = #{errMsg,jdbcType=VARCHAR}
    </set>
    where settlement_no = #{settlementNo,jdbcType=VARCHAR}
    </update>
    
    <update id="updateOrderStatus" parameterType="Map" >
    update point_settlement_order
    <set >
      status = #{status,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    </set>
    where id = #{id}
    </update>
    
    <update id="updateOrderFailure" parameterType="Map" >
    update point_settlement_order
    <set >
      status = #{status,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_msg = #{errMsg,jdbcType=VARCHAR}
    </set>
    where id = #{id}
    </update>
    
    <update id="updateByLast" parameterType="Map" >
    update point_settlement_order
    <set >
        settlement_orders = #{settlementOrders,jdbcType=INTEGER},
      settlement_points = #{settlementPoints,jdbcType=INTEGER},
      settlement_amount = #{settlementAmount,jdbcType=DECIMAL},
      release_orders = #{releaseOrders,jdbcType=INTEGER},
      release_points = #{releasePoints,jdbcType=INTEGER},
      recycle_orders = #{recycleOrders,jdbcType=INTEGER},
      recycle_points = #{recyclePoints,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    </set>
    where settlement_no = #{settlementNo,jdbcType=VARCHAR}
    </update>
  
  <update id="updateByPrimaryKey" parameterType="cn.creditease.pay.settlement.core.entity.PointSettlementOrder" >
    update point_settlement_order
    set merchant_code = #{merchantCode,jdbcType=VARCHAR},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      settlement_no = #{settlementNo,jdbcType=VARCHAR},
      settlement_type = #{settlementType,jdbcType=TINYINT},
      settlement_orders = #{settlementOrders,jdbcType=INTEGER},
      settlement_points = #{settlementPoints,jdbcType=INTEGER},
      settlement_amount = #{settlementAmount,jdbcType=DECIMAL},
      release_orders = #{releaseOrders,jdbcType=INTEGER},
      release_points = #{releasePoints,jdbcType=INTEGER},
      recycle_orders = #{recycleOrders,jdbcType=INTEGER},
      recycle_points = #{recyclePoints,jdbcType=INTEGER},
      settlement_begin_date = #{settlementBeginDate,jdbcType=TIMESTAMP},
      settlement_end_date = #{settlementEndDate,jdbcType=TIMESTAMP},
      cur_id = #{curId,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=TINYINT},
      point_status = #{pointStatus,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_msg = #{errMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>